<div class="container" data-component="about">
    <h1 id="aboutcomponentjs">About component.js</h1>
    <p>This is a mini-framework to give you the ability to build in a modular way by allowing you to build components just like in frameworks such as Vuejs, angular js and react.</p>
    <h2 id="whychoosethisframework">Why choose this framework?</h2>
    <p>This is not like other frameworks, you can bolt this framework on to existing projects and it is designed to have a small footprint for projects with limited file sizes or projects which need to be small in size.</p>
    <p>Also, if you have an existing&nbsp;project and you want to slowly migrate it into a component-based&nbsp;architecture then this framework will allow you to do so.</p>
    <p>The concept was created when there was a project that had a 150kb file size and there was a need for a component-based architecture.</p>
    <p>This framework allows you to take control over what you feel is necessary for the project as <strong>component.js</strong> only provides the bare minimum needed for building modular.</p>
    <p>The boilerplate contains a routers, tag templating and a component creation task which adds the basi for a full-featured development process. Using this you can rapidly build projects.</p>
    <h2 id="whatsdifferentaboutthisframework">What's different about this framework?</h2>
    <p>Apart from its file size, it works with static html. It doesn't render the html at runtime but works with precompiled html. You use data attributes to bind the html template to the component instance. You can create your own libraries and tools to make it suit your needs. It's also much better for <strong>SEO</strong> since it works with precompiled html.</p>
    <h2>What projects is the idea for?</h2>
    <p>This framework is designed for small to large-scale projects. Some examples of projects that this framework is suitable for is listed below:</p>
    <ul>
        <li>SEO friendly sites</li>
        <li>Backend (like sitecore) based sites using a modular frontend</li>
        <li>Banner development</li>
        <li>SPA's (single page applications)</li>
    </ul>
</div>